<h1>New company</h1>
<%#= button_to "logout", destroy_login_user_session_path, method: :delete  %>

<%= render "form", company: @company %>

<br>

<div>
  <%= link_to "Back to companies", companies_path %>
</div>
